---
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Experience from "@/components/Experience.astro";
import About from "@/components/About.astro";
import IMac from "@/components/icons/IMac.astro";
import User from "@/components/icons/User.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Daniel Velázquez - Software Engineer" description="Description">
  <main class="container max-w-4xl mx-auto mt-48">
    <div class="flex flex-col gap-y-24">
      <SectionContainer id="home">
        <Hero />
      </SectionContainer>
      <SectionContainer id="experience">
        <SectionTitle>
          <IMac />
          Experience
        </SectionTitle>
        <Experience />
      </SectionContainer>
      <SectionContainer id="about">
        <SectionTitle>
          <User />
          About me
        </SectionTitle>
        <About />
      </SectionContainer>
    </div>
  </main>
  <Footer />
</Layout>
