---
import Logo from "@/components/icons/Logo.astro";
import Linkedin from "./icons/Linkedin.astro";
import Github from "./icons/Github.astro";
import Instagram from "./icons/Instagram.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
import LanguageOptions from "./LanguageOptions.astro";
---

<div
  class="text-gray-700 bg-white border-t sm:mt-20 dark:bg-neutral-950 border-neutral-200 dark:border-neutral-800"
>
  <div
    class="container flex flex-col sm:flex-row justify-between items-center space-y-4 py-8 px-5 mx-auto max-w-5xl"
  >
    <div class="flex flex-col sm:flex-row items-center">
      <Logo />
      <p
        class="mt-4 text-sm text-neutral-700 dark:text-neutral-100 sm:ml-4 sm:pl-4 sm:border-l sm:border-neutral-300 dark:sm:border-neutral-700 sm:mt-0"
      >
        © {new Date().getFullYear()}
        <a href="https://github.com/ccbikai/astro-aria" target="_blank">
          Aria</a
        >
      </p>
    </div>
    <div
      class="flex justify-center space-x-4 text-neutral-500 dark:text-neutral-400"
    >
      <a
        href="https://www.linkedin.com/in/danielvelazquezl/"
        target="_blank"
        class="transition hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">Linkedin</span>
        <Linkedin class="size-6" />
      </a>

      <a
        href="https://github.com/dvelazquezl"
        target="_blank"
        class="transition hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">GitHub</span>
        <Github class="size-6" />
      </a>

      <a
        href="https://instagram.com/danielvelazquezl"
        target="_blank"
        class="transition hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">Instagram</span>
        <Instagram class="size-6" />
      </a>
    </div>
    <div class="flex">
      <ThemeSwitch />
      <LanguageOptions />
    </div>
  </div>
</div>
