---
import Logo from "@/components/icons/Logo.astro";
import HeaderItem from "./HeaderItem.astro";
import ThemeSwitch from "./ThemeSwitch.astro";

const menuItems = [
  { text: "Home", label: "home", href: "/#" },
  { text: "Experience", label: "experience", href: "#experience" },
  { text: "About", label: "about", href: "#about" },
];
---

<header class="fixed top-0 w-full h-20">
  <div
    class="flex items-center justify-between h-full max-w-5xl mx-auto pl-6 pr-4 border-x border-t-0 border-b rounded-b-lg border-neutral-300/50 bg-white/80 dark:border-neutral-600/40 dark:bg-neutral-900/60 backdrop-blur-lg shadow-md"
  >
    <Logo />
    <nav class="flex items-center">
      {
        menuItems.map((item) => (
          <HeaderItem href={item.href} label={item.label}>
            {item.text}
          </HeaderItem>
        ))
      }
      <ThemeSwitch />
    </nav>
  </div>
</header>
