---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a
  class="px-3 py-2 text-sm font-medium hover:text-neutral-900 dark:hover:text-white duration-200 ease-out"
  href={href}
  aria-label={label}
>
  <slot />
</a>
