---
import Language from "@/components/icons/Language.astro";
---

<div
  transition:persist
  class="flex gap-2 ml-4 text-neutral-500 dark:text-neutral-400"
>
  <Language class="size-6" />
  <a href="/" class="transition hover:text-neutral-900 dark:hover:text-white"> English </a>
  <a href="/es" class="transition hover:text-neutral-900 dark:hover:text-white">
    Español
  </a>
</div>
